.env
.cache
flagged
db/*
db/import/*.csv
csvs/*
csvs_full/*
flagged/*
venv
*.gguf
!*dummy.txt
profile_stats
.idea
src/data/embeddings
src/data/wikidump
__pycache__
/src/data/admin/nodes
src/data/admin/wiki_redirects - Copy.pkl
src/data/admin/wiki_redirects.pkl
src/data/admin/edges/references.csv
src/data/admin/edges/edges.csv.bz2
bge-m3_m2v_model/config.json
bge-m3_m2v_model/model.safetensors
bge-m3_m2v_model/modules.json
bge-m3_m2v_model/tokenizer.json
src/data/admin/bge3_index.pkl
